* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}
.container {
    font-size: 10px;
}
input, button {
    display: block;
    padding: 5px 10px;
    margin: 10px auto;
}
input {
    border-radius: 5px;
}
button {
    background: #ddd;
    border: 1px solid #000;
    color: #222;
    border-radius: 5px;
    font-size: 20px;
}
button:hover {
    background: #aaa;
}

.card_box {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.card_item {
    display: inline-block;
    width: 300px;
    background: #ddd;
    text-align: center;
    padding: 35px 0;
    margin: 20px;
    border-radius: 5px;
}
.card_item .title {
    display: block;
    margin: 10px 0;
    font-size: 25px;
}
.card_item .description {
    font-size: 20px;
    padding: 0 10px;
}
.card_item .image {
    width: 80%;
    display: block;
    margin: 0 auto 0 auto;
}