/*STYLE XBJ*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;900&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-size: 12pt;
  font-family: "Inter", arial;
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*text*/
.header { /*Para titulos*/
  display: block;
  margin: 1rem 0;
  font-size: 20pt;
}
.strong-a, strong, b { /*Para destacar texto*/
  font-weight: 600;
}
.strong-b {
  display: inline-block;
  background: #eee;
  border-radius: 5px;
  padding: .2rem .3rem;
}
/*a*/
.link-0 {
  text-decoration: none;
  color: black;
}
.link-1, .link-2, .link-3, .link-4 {
  border-radius: 5px;
  padding: .5rem;
  font-weight: 600;
  display: inline-block;
}
.link-1, .link-3 {
  background: #eee;
  border: 2px solid transparent;
}
.link-2, .link-4 {
  background: transparent;
  border: 2px solid #eee;
}
.link-3, .link-4 {
  text-decoration: none;
  color: black;
}
a{
  display: inline;
  color: #0069c2;
  text-decoration-color: #0069c2;
}
/*plantillas*/
.note, .alert, .check {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.note {
  background: #E5F3FE;
  border-left: 5px solid #0285F2;
}
.alert {
  background: #FBE5EB;
  border-left: 5px solid #D30038;
}
.check {
  background: #DFFBEC;
  border-left: 5px solid #00A650;
}
.code {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  background: #eee;
  font-family: monospace;
  font-size: 10pt;
}
ul, ol {
  margin: 0rem 2rem;
  line-height: 1.5rem;
}
.line {
  list-style: none;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}
/*STYLE OTHER*/
body {
  margin: 2rem;
}
