body {
  margin: 0;
}
::root {
  --soleado: url();
  --nublado: url("https://www.wunderground.com/static/i/c/v4/34.svg");
  --totalmente-nublado: url("https://www.wunderground.com/static/i/c/v4/20.svg");
  --tormenta: url("https://www.wunderground.com/static/i/c/v4/3.svg");
  --lluvia: url("https://www.wunderground.com/static/i/c/v4/9.svg")
  --llovizna: url("https://www.wunderground.com/static/i/c/v4/6.svg");
  --lluvia-nevada: url("https://www.wunderground.com/static/i/c/v4/5.svg");
  --granizo: url("https://www.wunderground.com/static/i/c/v4/8.svg");
  --viento: url("https://www.wunderground.com/static/i/c/v4/19.svg");
  --viento-helado: url("https://www.wunderground.com/static/i/c/v4/15.svg");
  
  
}
main {
  margin: 1rem 2rem;
}
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  background: #eee;
  border-top: 2px solid #ccc;
  text-align: center;
}
.search-box {
  background: #eee;
  border-radius: 5px;
}
.search {
  width: 100%;
  padding: .5rem 1rem;
  border: none;
  background: transparent;
}
.search {
  outline: none;
}
.card {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  background: #eee;
  margin: 1rem auto;
  padding: 1rem;
}
.card-title {
  display: flex;
  justify-content: space-around;
}
.img {
  background: url("https://www.wunderground.com/static/i/c/v4/34.svg");
  width: 100px;
  height: 100px;
  background-size: cover;
}

